header {z-index: 1;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10vh;
      width: 100vw;
      height: 86vh;
      background-image: url(box/gif/intro-compressed.gif);
      
      background-position: center;
      background-repeat: no-repeat;
     }
/* logo on nav in share css */
.skillset {display: none;}

/* 1st PAGE */
.container {margin: auto;width: 92vw;
      background: rgb(0, 0, 0);
      height: 5vh;}
.wrapper { display:grid; 
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: minmax(5vh,auto);}
.category {position: fixed;
      transform: rotate(270deg);
      margin-left: -150px;
      top: 180vh;
	width: 50vw;;
	text-align: center;}
.category ul li { display: inline-block;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #000000;
	list-style: none;
	cursor: pointer;
	text-transform: uppercase;
	padding: 7px 15px;
	position: sticky;
	border-radius: 2px;}
ul.cat li:last-child:after {
	position: relative;
      content: '';}

/* 2ND PAGE */
.container2 { height: 26vh;
            margin: auto;
            width: 92vw;
            background: rgb(0, 0, 0);
            overflow: hidden;}
.worktitle {cursor: pointer;
            padding: 0vh 0vw;
            width: 92vw;
            height: auto;
            background-color: rgb(0, 0, 0);}

/* Portfolio Section */
.main-content {
      height: auto;
      width: 100vw;
      overflow: hidden;}
      
.portfolio{
      background-color: rgb(0, 0, 0);
      display: grid;
      height: 350vh;
      width: 92vw;
      grid-template-rows: repeat(20vh,min);
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 0px;
      margin: auto;}

.project1{background-image:url(box/portfolio/1-musiccover.png);}
.project2{background-image:url(box/portfolio/2-shockwave.png);}
.project3{background-image:url(box/portfolio/3-takogrill.png);}
.project4{background-image:url(box/portfolio/4-website.png);}
.project5{background-image:url(box/portfolio/5-banana.png);}
.project6{background-image:url(box/portfolio/6-scoutdoor.png);}
.project7{background-image:url(box/portfolio/7-bookcover.png);}
.project8{background-image:url(box/portfolio/8-jaws.jpg);}
.project9{background-image:url(box/portfolio/9-alphabetposter.jpg);}
.project10{background-image:url(box/portfolio/10-kingcrab.png);}
.project11{background-image:url(box/portfolio/11-festivalposter.png);}
.project12{background-image:url(box/portfolio/12-book.png);}

.project1:hover,.project2:hover, .project3:hover,.project4:hover,.project5:hover,.project6:hover,.project7:hover,.project8:hover,.project9:hover,.project10:hover,.project11:hover,.project12:hover,.project13:hover,.project14:hover,.project15:hover{
transform: scale(1.04);
filter: contrast(110%);
transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
animation-name: text;
box-shadow: none;}
/* after hover on */

.project1,.project2,.project3,.project4,.project5,.project6,.project7,.project8,.project9,.project10,.project11,.project12,.project13,.project14,.project15
{background-color: rgba(20, 20, 20, 0.537);
background-size: cover;
cursor: pointer;
transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
width: 100%;
height: 100%;
filter: grayscale(100%);
box-shadow: 0 3000px rgba(255, 255, 255, 0) inset;}
/* current display */


.text-hover {transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
animation-name: text;
width: 100%;
height: 100%;
color: rgb(255, 255, 255);
overflow: hidden;
opacity: 0;}

/* font & size */
.text-hover>h1 {
font-weight: 800;
font-family: 'Montserrat', sans-serif;
font-size: 2em;
letter-spacing: 0.05em;}
.text-hover>h2 {
font-family: 'Fauna One', serif;
font-weight: 200;
font-size: 1em;}
/* text transision */
.text-hover:hover {opacity: 1;
                  transform: translateY(35%);
                  box-shadow: none;}
      
/* size for the each box */
.small {overflow: hidden;
      grid-column: span 2;
      grid-row: span 2;}

.medium { grid-column: span 2;
      grid-row: span 3;
      overflow: hidden;}

.large {overflow:hidden;
      grid-column: span 3;
      grid-row: span 4;}

.tall{ overflow:hidden;
      grid-column: span 1;
      grid-row: span 5;}

.wide {overflow:hidden;
      grid-column: span 3;
      grid-row: span 2;}

      


/* Tablet Screen */
/* Tablet Screen */
@media screen and (max-width: 1024px)
{
.nav-links { display: flex;
justify-content:space-around;
width: 60%;}}
/* Tablet Screen */
/* Tablet Screen */

/* IPHONE SCREEN RGER BAR */
/* burger bar *//* burger bar *//* burger bar *//* burger bar */
.burger {width: 60px;
      display: none;}
.burger div {width: 38px;
      height: 4px;
      border-radius: 2px;
      background-color: rgb(255, 255, 255);
      margin: 6px;
      transition: all 0.3s ease;}
.toggle .line1{ transform:rotate(-45deg) translate(-8px, 6px);}
.toggle .line2{ opacity: 0;}
.toggle .line3{ transform:rotate(45deg) translate(-8px, -6px);}

@keyframes videoFade{
0% { opacity:1;}
20% { opacity:0;}
30% { opacity:1;}
40% { opacity:0;}
50% { opacity:1;}
66% { opacity:0.6;}
77% { opacity:0.4;}
88% { opacity:0.3;}
98% { opacity:0;}
100% { opacity:0;}
}

@keyframes text{
      0% { opacity:0.1;}
      20% { opacity:0.2;}
      30% { opacity:0.4;}
      40% { opacity:0.5;}
      50% { opacity:0.6;}
      66% { opacity:0.7;}
      77% { opacity:0.8;}
      88% { opacity:0.9;}
      98% { opacity:1;}
      100% { opacity:1;}
      }
/* burger bar *//* burger bar *//* burger bar *//* burger bar */


 /* footer nav  */

      
/* close footer nav */





      

          
       