*   {margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {-webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align:center;
    background-color: rgb(0, 0, 0);
    display: table;
    -webkit-touch-callout: inherit;}
html { 
    margin: 0;
    padding: 0;}
h1 {font-family: 'Maven Pro', sans-serif;
font-size: 2.75em;
font-weight: 900;
letter-spacing: 0.5px;
text-transform: uppercase;} /* title text */

h2 { font-family: 'Archivo Black', sans-serif;
font-size: 1.25em;
font-weight: 700;
letter-spacing: 0.5px;
text-transform: uppercase;}

h3 { font-family: 'Archivo Black', sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-style: italic;}
/* h3 { font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
padding-top: 1em;
font-style: italic;} */
h4 { font-family: 'Fauna One', serif;
font-size: 1.25em;
font-weight: 300;
letter-spacing: 0.5px;}

h5 { font-family: 'Fauna One', serif;
font-size: 0.85em;
font-weight: 300;
letter-spacing: 0.5px;} /* body copy */

h6 {font-family: 'Fauna One', serif;
  font-size: 0.75em;
  font-weight: 300;
  letter-spacing: 0.5px;}
a:link {
text-decoration: none;}

a:visited {
text-decoration: none;}

a:hover {
text-decoration: none;}

a:active {
text-decoration: none;}

/* logo on nav  */
.logo { transition-duration: 1s;
        position: absolute;
        top: 0;
        left: 3.2vw;
        padding: 5px 20px;
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 3s; /* Opera < 12.1 */
        animation: fadein 1s cubic-bezier(0.645, 0.045, 0.355, 1);}
        @keyframes fadein {
        0%    { opacity: 1;}
        50%   { opacity: 0.8;}
        90% { opacity: 0.9;}
        95% { opacity: 0.1;}
        98% { opacity: 0.8;}
        100%  { opacity: 1;} }
  .logo:hover { opacity: 0.5;
  transform: scale(1.2);}
  .footer-logos:hover {opacity: 0.5;
    transform: scale(1.1);}
  nav { 
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        display: flex;
        justify-content: space-around;
        min-height: 8vh;
        width: 100vw;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(0, 0, 0, 0.349);
        box-shadow: 0 -2px 15px 2px rgba(255, 105, 105, 0.233);
        z-index: 900;}
  .nav-links {
        position: absolute;
        display: flex;
        width: 50%;
        justify-content: space-around;
        right: 0%;
        top: 15%;
        font-size: 0.75em;
        font-weight: 300;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;}
  
  .nav-links li{
        list-style: none;
        padding: 10px 0px;}
  
  
  .nav-links a{transition: opacity 0.3s;
        color: rgb(255, 255, 255);
        text-decoration: none; 
        cursor: pointer;
        position: relative;
        padding: 0 0.5em 0 0.2em;
        transition: 0.5s;}

  .nav-links:hover a{
        font-weight: 300;
        color: rgb(255, 255, 255);
        transform: scale(1);
        opacity: .1;
        filter: blur(2px);}

  .nav-links a:hover{
        color: rgb(255, 255, 255);
        font-weight: 500;
        opacity: 1;
        filter: blur(0);}
        

  /* footer nav  */
.container5 {padding-top: 20vh;
          margin: auto; width: 92vw;
          background: rgb(0, 0, 0);
          position: relative;
          text-align: center;
          overflow: hidden;}
.footer-bottom {width: 92vw; 
    margin: auto;
    position: relative;
    padding-top: 20vh;
    background: rgb(0, 0, 0);}

.footer-nav {margin-left: 0px;
margin-top: 2vh;
height: 6vh; 
position: static;}

.foot-nav li a:hover{
  opacity: .1;
  filter: blur(1px);}

.footer-nav ul li {
  list-style: none;
  margin: auto;
  text-align: center; 
  display: inline-block;}

.footer-nav ul li a {text-decoration: none;
  padding: 2vh;
  color: #ffffff;
  font-family: 'Archivo-Narrow', sans-serif;
  font-weight: 600;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-logos a.company-logo img{
  width: 8vh;
  height: auto;
  margin-bottom: 10px;}


.company-name {
  font-size: 28px;
  color: rgb(128, 42, 42);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;}

/* close footer nav */
/* bar line */
.footer-copyright{ 
    width:   90vw;
    margin-top: 6vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-top: 0.5px rgb(83, 83, 83) solid;
    padding-top: 2vw;}

.footer-copyright p{
  color: rgb(99, 99, 99);
  padding-bottom: 20px;
  font-size: 0.9em;
  font-family: 'Fauna One', serif;
  font-weight: 400;
}
.footer-copyright a{
  text-decoration: none;
  color: #690000;
  font-size: 0.9em;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  text-transform: uppercase;}
  .footer-copyright a:hover { color: red;}

    /* copy right */

.s-m {width: 92vw;
    margin: auto;
    height: 16vh;}

.s-m a{ 
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #ffffff;
    padding: 8px;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 1em;
    margin: 10px 20px 10px 20px;
    text-decoration: none;}

.s-m a:hover { background: #ff2323;
color: white;}
.s-m a i{transition: 0.3s all;}
.s-m a:hover > i{transform: scale(1.5) rotate(360deg);}

/* Previous and Next Button */
.previous {
grid-column: 1/2;
grid-row: 1/2;
float: left;}

.next {background-color: rgb(0, 0, 0);
grid-column: 5/6;
grid-row: 1/2;
float: right;}


.btn {cursor: pointer;
background: transparent;
color: inherit;
text-decoration: none;
border: 0;
transition: all 200ms ease-in;}

.btn-default {
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
font-family: 'Archivo Narrow', sans-serif;
font-size: 1em;
font-weight: 400;
letter-spacing: 0.5px;
text-transform: uppercase;
border: 4px solid rgb(255, 255, 255);
padding: 12px 28px;}

.btn-default:hover {
background: rgb(255, 255, 255);
color: rgb(0, 0, 0);
border: 4px solid rgb(255, 21, 21);
-webkit-transform: skew(-10deg);
transform: skew(10deg);}

.btn {
-webkit-transform: skew(-10deg);
transform: skew(-10deg);}




@media screen and (max-width: 800px)
{
.nav-links { display: flex;
justify-content:space-around;
width: 60%;}}

/* Tablet Screen */
/* Tablet Screen */




/* IPHONE SCREEN BURGER BAR */
/* burger bar *//* burger bar *//* burger bar *//* burger bar */
.burger{ 
      width: 60px;
      display: none;}
.burger div{
      width: 38px;
      height: 4px;
      border-radius: 2px;
      background-color: rgb(255, 255, 255);
      margin: 6px;
      transition: all 0.3s ease;}

.toggle .line1{ transform:rotate(-45deg) translate(-8px, 6px);}
.toggle .line2{ opacity: 0;}
.toggle .line3{ transform:rotate(45deg) translate(-8px, -6px);}
/* burger bar *//* burger bar *//* burger bar *//* burger bar */