



/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
@media screen and (max-width: 440px)
{ 
header{z-index: -1;
      background-image: url(../../box/project/1/mobile/sweetener-coverpage.png);
      width: 100vw;
      height: 92vh;
      margin-top: 8vh;
      background-position: center 8vh;
      background-size: 100% cover;}
/* black line */
.container {border: 1px solid green;
      margin: auto;
      height: 4vh;
      position: relative;
      color: white;
      width: 92vw;}

      /* 2ND PAGE */
      .main-content {border: 1px solid red;
            min-height: auto;
            width: 100vw;
            margin: 0 auto;}
      
      .wrapper1{width: 100vw;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: minmax(20vh,auto);
            grid-gap:0 1vw;}
/* 2 SECTIONS */
.card {background: rgb(0, 0, 0);
      width: 100vw;
      height: auto;
      overflow: hidden;}
      
.card-image{ width: 100%;
            height: auto;
            object-fit: cover;}


.empty{background-color: rgb(0, 0, 0);
grid-column: 1/6;
grid-row: 1/3;}

.one {background-image: url(../../box/project/1/company.png);
background-color: rgb(0, 0, 0);
grid-column: 1/3;
grid-row: 2/3;
overflow: hidden;
background-size: cover;
padding-bottom: 0px;}

.two {
grid-column: 3/6;
grid-row: 2/3;
padding: 0vh 2vw;
display: block;
text-align: left;}
.card {background: rgb(0, 0, 0);
      width: 100vw;
      height: auto;
      overflow: hidden;}

.container2 { width: 100vw; min-height: 20vh;}

.wrapper2{
background-color: rgb(0, 0, 0);
display: grid;
min-height: 50vh;
width: 100vw;
grid-template-rows: repeat(10vh,min);
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;}

.img { width: 100vw;
       height: auto;
       object-fit: cover;}

.large {overflow:hidden;
grid-column: span 3;
grid-row: span 1;
background-color: white;}

.medium {overflow:hidden;
      grid-column: span 3;
      grid-row: span 1;
      background-color: white;}

.tall {overflow:hidden;
      grid-column: span 5;
      grid-row: span 1;
      background-color: white;}
.wide {overflow:hidden;
      grid-column: span 3;
      grid-row: span 1;
      background-color: white;}
.small {overflow:hidden;
      grid-column: span 5;
      grid-row: span 1;
      background-color: white;}

      
.wrapper3 {padding-top: 5vh;
width: 90vw;
margin: auto;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(15vh,auto);}
.container5 {padding-top: 20vh;
      margin: auto;
      background: rgb(0, 0, 0);
      position: relative;
      text-align: center;
      overflow: hidden;}

/* animation for iphone screen nav */
@keyframes navLinkFade
{from{ opacity:0;
tramsform: translateX(-100px);}
to
{opacity: 1;
transform: translateX(0px);
}
/* animation for iphone screen nav */
}
/* close iphone screen */
}