
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
@media screen and (max-width: 440px)
{

      
header {
    background-image: url("../../box/project/2/mobile/shockwave1.gif");
    background-size: auto 92vh;
    background-position: center;
    background-repeat: no-repeat;
    }


/* animation for iphone screen nav */

/* animation for iphone screen nav */
}
/* close iphone screen */
