
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
@media screen and (max-width: 440px)
{



    header  
    {z-index: -1;
    width: 100vw;
    height: 92vh;
    margin-top: 7vh;
    background-position: center;
    background-size: contain;}


/* animation for iphone screen nav */

/* animation for iphone screen nav */
}
/* close iphone screen */
