



/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
@media screen and (max-width: 440px)
{ 
    header  
    {
    -o-background-size: 100vw auto;
    -moz-background-size: 100vw auto;
    -webkit-background-size: 100vw auto;
    background-size: 100vw auto;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vh;
    background-position: center;
    background-repeat: no-repeat;}





}
/* animation for iphone screen nav */

/* close iphone screen */
