
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
@media screen and (max-width: 440px)
{



    header  
    {z-index: 99;
    background-image: url(../../box/project/2/mobile/shockwave1.gif);
    width: 100vw;
    height: 92vh;
    margin-top: 7vh;
    background-position: center;
    background-size: 100vw auto;}


/* animation for iphone screen nav */

/* animation for iphone screen nav */
}
/* close iphone screen */
