



/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
@media screen and (max-width: 440px)
{ 
header{z-index: 99;
      background-size: 100vw cover;
      width: 100vw;
      height: 60vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0vh;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;}
/* 2ND PAGE */
.main-content {
min-height: 200vh;
width: 100vw;
overflow: hidden;}
.container {
margin: auto;
width: 100vw;
background: rgb(224, 105, 105);
height: 0vh;}
.wrapper1{width: 100vw;
margin-left: auto;
margin-right: auto;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-auto-rows: minmax(5vh,auto);
grid-gap: 10px;}

.empty{background-color: rgb(0, 0, 0);
grid-column: 1/6;
grid-row: 1/2;}

.one {background-image: url(../../box/project/3/company.png);
background-color: rgb(0, 0, 0);
grid-column: 1/3;
grid-row: 2/3;
overflow: hidden;
background-size: cover;
padding-bottom: 0px;}

.two {
grid-column: 3/6;
grid-row: 2/3;
padding: 0vh 2vw;
display: block;
text-align: left;}

.three {
      grid-column: 1/6;
      grid-row: 4/10;
      overflow: hidden;
      background-size: 100vw auto;}
      
.four {grid-column: 1/6;
      grid-row: 10/15;
      overflow: hidden;
      background-size: 100vw auto;}

.five{grid-column: 1/6;
grid-row: 15/21;
overflow: hidden;
background-size: 100vw auto;}

      .six {grid-column: 1/6;
            grid-row: 21/27;
            overflow: hidden;
            background-size: 100vw auto no-repeat}

      .seven {grid-column: 1/6;
            grid-row: 27/35;
            overflow: hidden;
            background-size: 100vw auto;}

      
.wrapper3 {padding-top: 5vh;
width: 90vw;
margin: auto;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(15vh,auto);}
.container5 {padding-top: 20vh;
      margin: auto;
      background: rgb(0, 0, 0);
      position: relative;
      text-align: center;
      overflow: hidden;}

/* animation for iphone screen nav */
@keyframes navLinkFade
{from{ opacity:0;
tramsform: translateX(-100px);}
to
{opacity: 1;
transform: translateX(0px);
}
/* animation for iphone screen nav */
}
/* close iphone screen */
}