header {overflow: hidden;
      z-index: 1;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10vh;
      width: 92vw;
      height: auto;
      background-color: rgb(0, 0, 0);}
/* control color for header */
/* Intro PAGE  about the Project*/

/* 2 SECTIONS */
/* changing color for the background card */
.card {background: rgb(0, 0, 0);
      width: 45.5vw;
      height: auto;
      overflow: hidden;}
      
/* The Gallery - Showing Projects  */
/* background color control for the images */
      .small {overflow: hidden;
            grid-column: span 3;
            grid-row: span 2;
            background-color: white;}
      
      .medium { grid-column: span 3;
            grid-row: span 3;
            overflow: hidden;
            background-color: rgb(126, 61, 61);}
      
      .large {overflow:hidden;
            grid-column: span 6;
            grid-row: span 2;
            background-color: rgb(255, 255, 255);}
      
      .tall{ overflow:hidden;
            grid-column: span 6;
            grid-row: span 4;
            background-color: black;}
      
      .wide {overflow:hidden;
            grid-column: span 6;
            grid-row: span 1;
            background-color: white;}



/* Previous and Next button */
/* share.css */


/* Footers Section  */
/* share.css */
