header {overflow: hidden;
      z-index: 1;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10vh;
      width: 92vw;
      height: auto;
      background-color: rgb(0, 0, 0);}
/* logo on nav  */ 
/* share.css */


/* .empty{max-height: 10vh;
      background-color: rgb(170, 170, 170);
      grid-column: 1/6;
      grid-row: 1/2;} */

/* 2 SECTIONS */
.card {background: rgb(0, 0, 0);
      width: 45.5vw;
      height: auto;
      overflow: hidden;}
      
      .small {overflow: hidden;
            grid-column: span 3;
            grid-row: span 2;
            background-color: white;}
      
      .medium { grid-column: span 3;
            grid-row: span 3;
            overflow: hidden;
            background-color: rgb(126, 61, 61);}
      
      .large {overflow:hidden;
            grid-column: span 6;
            grid-row: span 2;
            background-color: white;}
      
      .tall{ overflow:hidden;
            grid-column: span 6;
            grid-row: span 4;
            background-color: white;}
      
      .wide {overflow:hidden;
            grid-column: span 6;
            grid-row: span 1;
            background-color: white;}




/* Previous and Next button */
/* share.css */

/* Footers Section  */
/* share.css */
