


/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
@media screen and (max-width: 440px)
{ 
.button{ display: none;}
.button a { display: none;}
.logo { 
      padding: 6px 16px;
      transform: scale(1) ;}
  
.burger {  position: fixed;
            display: block;
            top: 5px;
            right: 2vw;
            padding: 6px;
            z-index: 999;
            cursor: pointer;}

header {z-index: 99;
      background-image: url(../../box/gif/intro-compressed-small.gif);
      width: auto;
      height: 30vh;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      margin-top: 7vh;}

/* 2ND PAGE */
.container2 { height: 15vh;
      margin: auto;
      width: 100vw;
      background: rgb(0, 0, 0);
      overflow: hidden;}
.abouttitle {cursor: pointer;
      padding: 5vh 0vw;
      width: 200vw;
      height: auto;
      background-color: rgb(0, 0, 0);}

.main-content 
{min-height: 100vh;
width: 100vw;
overflow: hidden;}
.empty{background-color: rgb(0, 0, 0);
      grid-column: 1/4;
      grid-row: 1/2}
.one {background-color: rgb(0, 0, 0);
      grid-column: 1/4;
      grid-row: 2/3;}
      
.two {background-color: rgb(0, 0, 0);
      color: white;
      grid-column: 1/4;
      grid-row: 4/5;
      padding: 0vh 10vw;
      display: block;
      text-align: left;}
.three {background-color: rgb(0, 0, 0);
      grid-column: 1/4;
      grid-row: 7/9;
      padding: 5vh 0vh}
.four {background-color: white;
      grid-column: 1/4;
      grid-row: 9/10;}

.resumetitle01 { width: 200vw;}
.resume_paper { width: 92vw;}
.profilepic { 
      object-fit: cover;
      width: 100vw;
      height: auto;}


/* animation for iphone screen nav */
@keyframes navLinkFade
{from{ opacity:0;
tramsform: translateX(-100px);}
to
{opacity: 1;
transform: translateX(0px);
}
/* animation for iphone screen nav */


}
/* close iphone screen */

      



