


/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
@media screen and (max-width: 440px)
{ 
.button{display: none;}
.button a { display: none;}
.logo { 
      padding: 6px 16px;
      transform: scale(1) ;}
  
.burger { 
      position: fixed;
      display: block;
      top: 5px;
      right: 2vw;
      padding: 6px;
      z-index: 999;
      cursor: pointer;}

header {z-index: 99;
      background-image: url(../../box/gif/intro-compressed-small.gif);
      background-size: auto 93vh;
      width: auto;
      height: 93vh;
      background-color: white;
      margin-left: auto;
      margin-right: auto;
      margin-top: 7vh;}

/* 2ND PAGE */
.container2 { height: 15vh;
      margin: auto;
      width: 100vw;
      background: rgb(0, 0, 0);
      overflow: hidden;}
.worktitle {cursor: pointer;
      padding: 0vh 0vw;
      width: 200vw;
      height: auto;
      background-color: rgb(0, 0, 0);}

.main-content 
{min-height: 100vh;
width: 100vw;}

.container3 {position: relative;
      height: 10vh;
      width: 100vw;
      background: rgb(0, 0, 0);}
.portfolio{
      overflow: hidden;
      background-color: rgb(0, 0, 0);
      display: block;
      height: 600vh;
      width: 100vw;}
.project1,.project2,.project3,.project4,.project5,.project6,.project7,.project8,.project9,.project10,.project11,.project12,.project13,.project14,.project15
{background-color: rgba(20, 20, 20, 0.537);
background-size: cover;
cursor: pointer;
transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
width: 96%;
height: 98%;
filter: none; 
margin: auto;}

.footer-nav {display: none;}
.s-m {width: 90vw;
      margin: auto;}
.s-m a{width: 55px;
      height: 55px;
      margin: auto;
      margin: 10px;}
      .footer-copyright{width:94vw;
            margin: auto;

            padding-top: 20px;}
            .footer-copyright p{font-size: 0.9em;}
            .footer-logos {display: none;}


.small {
      grid-column: 90vw;
      height: 50vh;
      overflow: hidden;}

.medium { grid-column: 100vw;
      height: 50vh;
      overflow: hidden;}

.large {grid-column: 100vw;
      height: 50vh;
      overflow: hidden;}

.tall{ grid-column: 100vw;
      height: 50vh;
      overflow: hidden;}

.wide {grid-column: 100vw;
      height: 50vh;
      overflow: hidden;}





/* animation for iphone screen nav */
@keyframes navLinkFade
{from{ opacity:0;
tramsform: translateX(-100px);}
to
{opacity: 1;
transform: translateX(0px);
}
/* animation for iphone screen nav */


}
/* close iphone screen */

      







@media screen and (max-width: 1024px){
#Layer_1 { margin-top: 25%;
margin-left: auto;
margin-right: auto;}
.header { height: 100vh;
width: 100vw;}}
}
