


/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
/* Mobile Screen iphoneX*/
@media screen and (max-width: 600px)
{ 
/* begin Header */
header {background-image: url(../../box/gif/intro-compressed-small.gif);
      background-size: auto 100vh;
      width: 100vw;
      height: 100vh;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0vh;
      background-position: center;
      background-repeat: no-repeat;
      }
.container {margin: auto;
      width: 100vw;
      background: rgb(0, 0, 0);
      height: 5vh;}

/* container2 */

.container2 { height: auto;
             margin: auto;
             width: 100vw;
            padding-bottom: 5vh;}

.worktitle { width: 100vw;
            height: auto;}

.main-content 
{padding-top: 0vh;
      min-height: 100vh;
width: 100vw;}

.portfolio{
      background-color: rgb(0, 0, 0);
      display: block;
      height: 600vh;
      width: 100vw;}
      
.project1,.project2,.project3,.project4,.project5,.project6,.project7,.project8,.project9,.project10,.project11,.project12,.project13,.project14,.project15
{background-color: rgba(20, 20, 20, 0.537);
background-size: cover;
cursor: pointer;
transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
width: 100%;
height: 100%;
filter: none; 
margin: auto;}
.small {
      grid-column: 100vw;
      height: 50vh;
      overflow: hidden;}

.medium { grid-column: 100vw;
      height: 50vh;
      overflow: hidden;}

.large {grid-column: 100vw;
      height: 50vh;
      overflow: hidden;}

.tall{ grid-column: 100vw;
      height: 50vh;
      overflow: hidden;}

.wide {grid-column: 100vw;
      height: 50vh;
      overflow: hidden;}


/* Burger and Logo Nav */
.button{ display: none;}
.button a { display: none;}
.logo { 
padding: 5px 8px;
transform: scale(0.9) ;}

.burger {  position: fixed;
display: block;
top: 5px;
right: 2vw;
padding: 6px;
z-index: 999;
cursor: pointer;}

/* Nav */
nav {z-index: 999;
position: fixed;
display: flex;
justify-content: space-around;
min-height: 6vh;
width: 100vw;
margin-left: -0vw;
background-color:rgb(0, 0, 0);}

.nav-links{ 
position: fixed;
z-index: 999;
top: 6vh;
right: 0vw;
width: 100vw;
height: 500vh;
background-color: rgb(0, 0, 0);
display: inline-block;
align-items: center;
transform: translateY(100%);
transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
font-size: 30px;
font-weight: 300;
letter-spacing: 0.5px;
overflow: hidden;
padding: 0vh 0;}
.nav-links ul {}
.nav-links li {
cursor: pointer;
opacity: 0;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0);
height: 22vh;
width: 100vw;}

.nav-links a{
color: white;}
.nav-links:hover li a{display: none;}
.nav-links li a:hover {display: none;}

.nav-active {transform: translateY(-0%);}
/* Ending Navigation Tab */
.container5 { width: 100vw;}
    
.footer-nav {display: none;}
.s-m {width: 90vw;
margin: auto;}
.s-m a{width: 55px;
height: 55px;
margin: auto;
margin: 10px;}
.footer-copyright{width:94vw;
margin: auto;
padding-top: 20px;}
.footer-logos {display: none;}

.previous {
    grid-column: 1/2;
    grid-row: 1/2;
    float: left;}
    
    .next {
    grid-column: 7/8;
    grid-row: 1/2;
    float: right;}
    .btn-default {
        background-color: black;
        color: white;
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border: 3px solid rgb(255, 255, 255);
        padding: 6px 14px;}
        
        @keyframes navLinkFade
        {from{ opacity:0;
        tramsform: translateX(-100px);}
        to
        {opacity: 1;
        transform: translateX(0px);
        }
      }

/* animation for iphone screen nav */
@keyframes navLinkFade
{from{ opacity:0;
tramsform: translateX(-100px);}
to
{opacity: 1;
transform: translateX(0px);
}
/* animation for iphone screen nav */

}
}


/* close iphone screen */

      

        






@media screen and (max-width: 1024px){
#Layer_1 { margin-top: 25%;
margin-left: auto;
margin-right: auto;}
.header { height: 100vh;
width: 100vw;}}

