@media screen and (max-width: 440px)
{
/* Header */
header  
{z-index: -1;
width: 100vw;
height: 92vh;
margin-top: 8vh;
background-position: center;
background-size: 100vw auto;}

.container {
margin: auto;
height: 4vh;
position: relative;
color: white;
width: 92vw;}

.wrapper {display:grid;
grid-template-columns: repeat(1, 1fr);
grid-auto-rows: minmax(5vh,auto);    }
/* 2ND PAGE */
.main-content {
min-height: 60vh;
width: 100vw;}

.wrapper1{width: 100vw;
margin-left: auto;
margin-right: auto;
display: grid;
grid-template-columns: no-repeat(1, 1fr);
grid-auto-rows: minmax(10vh,auto);
grid-gap: 4vh;}

.card {
grid-column: 1/-1;
height: auto;
width: 100vw;
justify-content: center;
overflow: hidden;}

.card-image{ width: 100%;
height: auto;
object-fit: cover;}

h1 {text-align: center;}
h4 {text-align: center;}
h5 { text-align: justify;
color: rgba(255, 255, 255, 0.815);}

/* Photo/Gallery Pictures Section  */
.container2 { 
width: 100vw;
min-height: 20vh;
margin: auto;
padding-top:5vw;}

.wrapper2 { display: grid;
width: 100vw;
margin-left: auto;
margin-right: auto;
grid-gap:1vh 0vw;}

.img { width: 100%; 
height: auto;
object-fit: cover;}
  
/* Previous & Next button */
.wrapper3 {padding-top: 5vh;
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(15vh,auto);}

/* Burger and Logo Nav */
.button{ display: none;}
.button a { display: none;}
.logo { 
padding: 5px 8px;
transform: scale(1) ;}
.burger {  position: fixed;
display: block;
top: 5px;
right: 2vw;
padding: 6px;
z-index: 999;
cursor: pointer;}

/* Nav */
nav {z-index: 999;
position: fixed;
display: flex;
justify-content: space-around;
min-height: 7vh;
width: 100vw;
margin-left: -0vw;
background-color:rgb(0, 0, 0);}

.nav-links{ 
position: fixed;
z-index: 999;
top: 7vh;
right: 0vw;
width: 100vw;
height: 500vh;
background-color: rgb(0, 0, 0);
display: inline-block;
align-items: center;
transform: translateY(100%);
transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
font-size: 30px;
font-weight: 300;
letter-spacing: 0.5px;
overflow: hidden;
padding: 0vh 0;}
.nav-links ul {}
.nav-links li {
cursor: pointer;
opacity: 0;
margin: auto;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0);
height: 22vh;
width: 100vw;}

.nav-links a{
color: white;}
.nav-links:hover li a{display: none;}
.nav-links li a:hover {display: none;}

.nav-active {transform: translateY(-0%);}
/* Ending Navigation Tab */

.container5 {
    width: 100vw;
    padding-top: 20vh;
    margin: auto;
    background: rgb(0, 0, 0);
    position: relative;
    text-align: center;
    overflow: hidden;}
    
.footer-nav {display: none;}
.s-m {width: 90vw;
margin: auto;}
.s-m a{width: 55px;
height: 55px;
margin: auto;
margin: 10px;}
.footer-copyright{width:94vw;
margin: auto;
padding-top: 20px;}
.footer-logos {display: none;}

.previous {
    grid-column: 1/2;
    grid-row: 1/2;
    float: left;}
    
    .next {
    grid-column: 7/8;
    grid-row: 1/2;
    float: right;}
    .btn-default {
        background-color: black;
        color: white;
        font-family: 'Archivo Narrow', sans-serif;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        border: 3px solid rgb(255, 255, 255);
        padding: 6px 14px;}
        
        @keyframes navLinkFade
        {from{ opacity:0;
        tramsform: translateX(-100px);}
        to
        {opacity: 1;
        transform: translateX(0px);
        }
        }


}