/*
.st1 {
stroke-dashoffset: 0;
stroke-dasharray: 7800;
animation-name: padda;
animation-duration: 8s;
animation-timing-function: ease-in-out;
}
.st2 {
stroke-dashoffset: 0;
stroke-dasharray: 4200;
animation-name: line2;
animation-duration: 8s;
animation-timing-function: ease-in-out;
}
.st3 { fill: white;
animation-delay: 4s;
animation-duration: 1.1s;
animation-timing-function: ease-in-out;
animation-name: fillanimation;}
.st4 { fill: white;
animation-delay: 5s;
animation-duration: 1.1s;
animation-timing-function: ease-in-out;
animation-name: fillanimation;}
.st5 { stroke-width: 1.2px;
stroke-dashoffset: 0;
stroke-dasharray: 20;
animation-duration: 8s;
animation-timing-function: ease-in-out;
animation-name: outline;}

@keyframes outline {
0% { stroke-dashoffset: 300;
stroke: rgb(65, 0, 0);}
30%{ stroke-dashoffset: 0;
stroke: black;}
80%{ stroke-dashoffset: 0;
stroke: black;
opacity: 0.7}
80%{ stroke-dashoffset: 0;
stroke: black;
opacity: 0.4}
100% { stroke-dashoffset: 0;
stroke: black;
opacity: 0}}

@keyframes fillanimation 
{0% {fill: black;
opacity: 0.2;}
50% {fill: white;
opacity: 1;}
60% {fill: rgb(0, 0, 0);
opacity: 1;}
70% {fill: rgb(255, 255, 255);
opacity: 1;}
80% {fill: rgb(0, 0, 0);
opacity: 1;}
100% {fill: rgba(255, 255, 255, 0);
opacity: 0;}}

@keyframes padda {
0% { stroke-dashoffset: 7800;
fill: white;
stroke: black;}
30%  {stroke-dashoffset: 0;
fill: white;
stroke: black;}
45%  {stroke-dashoffset: 0;
fill: rgb(0, 0, 0); }
80%  {stroke-dashoffset: 0;
fill: rgb(0, 0, 0); }
90%  {stroke-dashoffset: 0;
    fill: rgb(0, 0, 0);
    opacity: 0.8 }
    95%  {stroke-dashoffset: 0;
        fill: rgb(0, 0, 0);
        opacity: 0.6 }
100% {stroke-dashoffset: 0;
fill: rgb(0, 0, 0);
opacity: 0.15 }}

@keyframes line2 {
    0% { stroke-dashoffset: 4200;
    fill: white;
    stroke: black;}
    30%  {stroke-dashoffset: 0;
    fill: white;
    stroke: black;}
    45%  {stroke-dashoffset: 0;
    fill: rgb(0, 0, 0); }
    80%  {stroke-dashoffset: 0;
    fill: rgb(0, 0, 0); }
    90%  {stroke-dashoffset: 0;
    fill: rgb(0, 0, 0);
    opacity: 0.8 }
    95%  {stroke-dashoffset: 0;
    fill: rgb(0, 0, 0);
    opacity: 0.5 }
    100% {stroke-dashoffset: 0;
    fill: rgb(0, 0, 0);
    opacity: 0.2;}}








/* Tablet Screen */
@media screen and (max-width: 1024px){
#Layer_1 { 
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;}
.header { 
    height: 100vh;
    width: 100vw;}}
Tablet Screen */


    
    
    



 